
body {
    padding: 20px;
}

.feed-post {
    color: green;
}

.table-post {
    border: 1px solid #000;
}

td {
    border: 1px solid #000;
}

/* div for post */
.posted {
    width: 30rem;
    height: 20rem;
    padding: 3rem;
    border: 0.3rem solid black;
    background-color: yellow;
}

.text-box {
    box-sizing: content-box;
    background-color: green;
    border: 0.3 rem solid orange;
}
