
body {
    padding: 20px;
}

.feed-post {
    color: green;
}

.table-post {
    border: 1px solid #000;
}

td {
    border: 1px solid #000;
}

div {
    width: 20rem;
    height: 20rem;
    padding: 3rem;
    border: 1rem solid black;
}

.text-box {
    box-sizing: content-box;
    background-color: yellow;
}
